@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}
.alert{
  width:16%;
  margin:20px auto;
  padding:10px;
  position:relative;
  border-radius:5px;
  box-shadow:0 0 15px 5px #ccc;
}
.close{
  position:absolute;
  width:30px;
  height:30px;
  opacity:0.5;
  border-width:1px;
  border-style:solid;
  border-radius:50%;
  right:15px;
  top:25px;
  text-align:center;
  font-size:1.6em;
  cursor:pointer;
}
@media screen and (max-width: 600px) {
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .alert{
    width:42%;
    margin:20px auto;
    padding:2.75px;
    position:relative;
    border-radius:2px;
    box-shadow:0 0 15px 5px #ccc;
  }
  h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}
}

